li {
		float: left;
	}
	body {
	    background-color: #555;
	}
	
	/* properties classes */
	.test-border {
	    border: 1px solid black;
	}
	
	.page-frame {
		width: 1200px;
		margin: 25px auto;
        padding: 10px;
        background-color: #D3D3D3;
	}
	
	.header {
		display: inline-flex;
        margin:5px;
        height: 100px;
        float: left;
	}

	.logo {
		display: block;
		margin:5px 20px;
		border: 2px dashed gray;
		width: 100px;
	}

	.title {
		display: block;
		margin: 5px 5px 5px 160px;
		width: 600px;
	}

	.login {
		display: block;
		margin: 5px 5px;
		width: 265px;
	}
	
	.nav{
	    margin:5px;
	}
	
	.navbar {
		display: inline-flex;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	.navblock {
		display: block;
		width: 166px;
		height:35px;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size:18px;
		background-color:#555;
		color: white;
	}
	
	/* Navigation bar mouse over properties */
	.navblock:hover {
	    background-color: #444;
	    font-size:20px;
	}

    .image-slider {
		height: 250px;
		margin: 5px;
	}
	
	.bottom-boxes {
	    display: inline-block;
	}
	
	.footer {
		margin: 5px;
		height: 100px;
    }
    
    
	#Academic{
		 margin: 5px; 
		height: 500px;
	}
