body {
	    background-color: #555;
	}
	
	/* properties classes */
	.test-border {
	    border: 1px solid black;
	    margin: 1px;

	}
	
	.page-frame {
		width: 1200px;
		height: auto;
		margin: auto;
        padding: 10px;
        background-color: #D3D3D3;
        overflow: auto;
	}
	
	.header {
		display: inline-flex;
        margin:5px 20px 0px 5px;
        height: 100px;
        box-sizing:border-box;
	}

	.logo {
		display: block;
		margin:5px 20px;
		border: 2px dashed gray;
		width: 100px;
	}
	.logo img {
		width: 100%;
		height: 100%;
	}

	.title {
		display: block;
		margin: 5px 280px 5px 160px;
		width: 600px;
	}
	
	.nav{
	    margin:5px;
	}
	
	.navbar {
		display: inline-flex;
		list-style-type: none;
		margin: 5px 0px 5px 0px;
		padding: 0;
		
	}
	
	.navblock {
		display: block;
		width: 166px;
		height:35px;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size:18px;
		background-color:#555;
		color: white;
	}
	
	/* Navigation bar mouse over properties */
	.navblock:hover {
	    background-color: #444;
	    font-size:20px;
	}
	
	.bottom-boxes {
		padding: 20px 20px 20px 20px;
		border: 1px solid black;
		margin: 1px;
		float: left;
		
	
	}
	.image-slider {
		height: 250px;
		margin: 5px;
		background-color: white;
    }

    @keyframes example {
    	0%   {opacity: 0;}
    	10%  {opacity: 1;}
    	90%  {opacity: 1;}
    	100% {opacity: 0;}
	}

/* The element to apply the animation to */
	#slider {
	    animation-name: example;
	    animation-duration: 8s;
	    animation-iteration-count: infinite;
	}
    
    #boxleft{
		width: 743px;
	}

	#boxright{
		 width: 155px;

	}

	#nav1{ 
		overflow: auto;
		margin-left: 5px;
		width: 1188px;
	}

	#nav2{
		width:198px;
		float: left;
	}

	#navigatebar{
		display: block; 
		margin: 0px 0px 0px 0px;

	}